.code-wrapper {
    padding: 10px;
}

.code-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.code-img {
    padding: 50px 30px 50px 20px;
    width: 40%;
    float: right;
}

.code-txt {
    padding: 80px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
    .code-wrapper {
        padding: 5px;
    }
    .code-img {
        width: 100%;
        float: left;
    }
    .code-txt {
        font-weight: lighter;
        justify-content: center;
        align-items: center;
        
      }
}