* {
  font-weight: 400; 
}
.ux-wrapper {
    font-weight: lighter;
    padding: 10px;
}

.ux-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.ux-img {
    padding: 50px 30px 50px 20px;
    width: 800px;
    float: left;
}

.ux-txt {
  font-weight: lighter;
  font-size: 18px;
  padding: 60px;
  justify-content: center;
  align-items: center;
}

.ux-txt > p {
    padding-top: 20px;
}

@media screen and (max-width: 1215px) {
    .ux-wrapper {
        padding: 5px;
    }
    .ux-img {
        width: 100%;
        float: left;
    }
    .ux-txt {
        font-weight: lighter;
        justify-content: center;
        align-items: center;
        
      }
}